body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: rgb(177, 227, 227);
    color: #6b2828;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

button {
    background: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #666;
}

form input[type="text"],
form input[type="tel"],
form textarea {
    width: 20%;
    padding: 8px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}
header img {
    height: 300px; 
    width: 800px/* Replace 300px with your desired height */
}
